{% extends "mainapp/base_ct.html" %}
{% block content %}
{% load static %}


<div class="alert alert-success text-center col-md-5 mx-auto">
    Your item has been added successfully to your booking!<br>
    <a href="{% url 'mainapp:add_item' %}">Add another item to your booking</a><br>
    <a href="{% url 'mainapp:mybookings' %}">See my bookings</a><br>
    <a href="{% url 'mainapp:booking' %}">Add another booking</a>
</div>

{% endblock content %}

{% block scripts %}
<script>
    // SCRIPTS
</script>
{% endblock scripts %}