{% extends "mainapp/base_ct.html" %}
{% block content %}
{% load static %}

<div class="jumbotron text-center">
    <h2>Welcome to</h2>
    <img width="110" src="{% static 'mainapp/truckpool.png' %}"><br><br>
    <h5>An effective and eco-friendly way to deliver your parcels</h3>
    <h6>Truckpool puts truck drivers in contact with individuals and businesses.</h6>
    <h6>It is a truck-sharing system relying on optimization algorithms in order to cut CO2 emissions, reduce the delivery time and maximize the truck's capacity.</h6>
</div>
{% endblock content %}

{% block scripts %}
<script>
</script>
{% endblock scripts %}
